<!-- Task 6 -->
<form method="post">
    <div class="mdc-form-field">
        <div class="mdc-text-field">
            <input type="text" id="Manufacturer" name="Manufacturer" class="mdc-text-field__input">
            <label class="mdc-floating-label" for="name">Enter Product Manufacturer</label>
            <div class="mdc-line-ripple"></div>
        </div>
    </div>
        <div class="mdc-form-field">
        <div class="mdc-text-field">
            <input type="text" id="Serialnumber" name="Serialnumber" class="mdc-text-field__input">
            <label class="mdc-floating-label" for="name">Enter Product Serialnumber</label>
            <div class="mdc-line-ripple"></div>
        </div>
    </div>
     </div>
        <div class="mdc-form-field">
        <div class="mdc-text-field">
            <input type="date" id="Creationdate" name="Creationdate" class="mdc-text-field__input">
            <label class="mdc-floating-label" for="name">Enter Product creation date</label>
            <div class="mdc-line-ripple"></div>
        </div>
    </div>
    <div class="mdc-form-group">
        <div class="mdc-select">
            <i class="mdc-select__dropdown-icon"></i>
            <select class="mdc-select__native-control" name="partType">
                <option value="" disabled selected></option>
                {{#each partTypes as |partType|}}
                <option value="{{partType}}">{{partType}}</option>
                {{/each}}
            </select>
            <label class="mdc-floating-label">Pick a Part type</label>
            <div class="mdc-line-ripple"></div>
        </div>
    </div>
    <div class="mdc-form-group">
        <div class="mdc-select">
            <i class="mdc-select__dropdown-icon"></i>
            <select class="mdc-select__native-control" name="identity">
                <option value="" disabled selected></option>
                {{#each users as |label|}}
                <option value="{{label}}">{{label}}</option>
                {{/each}}
            </select>
            <label class="mdc-floating-label">Pick a User</label>
            <div class="mdc-line-ripple"></div>
        </div>
    </div>

    <div class="mdc-form-group">
        <button class="mdc-button mdc-button--raised" type="submit">
            <span class="mdc-button__label">Create</span>
        </button>
    </div>

</form>

<a href="/">Back</a>