<!-- Login -->
{{#if loginError}}
<p>{{loginError}}</p>
{{/if}}
<form action="/" method="post">
    <div class="mdc-form-field">
        <div class="mdc-text-field">
            <input type="text" id="username" name="username" class="mdc-text-field__input">
            <label class="mdc-floating-label" for="name">Enter User Name</label>
            <div class="mdc-line-ripple"></div>
        </div>
    </div>

    <div class="mdc-form-field">
        <div class="mdc-text-field">
            <input type="password" id="password" name="password" class="mdc-text-field__input">
            <label class="mdc-floating-label" for="name">Enter password</label>
            <div class="mdc-line-ripple"></div>
        </div>
    </div>

    <div class="mdc-form-group">
        <button class="mdc-button mdc-button--raised" type="submit">
            <span class="mdc-button__label">Login</span>
        </button>
    </div>

</form>

